{% extends 'webapp/base.html' %}

{% block content %}

<!-- always call block content to connect -->

    <body>
        <br>
        <br>
        <div class="text-center">
            <h3>Project CRM... Management ai its's finest!</h3>
            <br>
            <h5>Keep Track of your records effectively!</h5>
            <hr>
            <br>
            <a type="button" href="{% url 'register' %}" class="btn btn-primary">Create your account</a>
        </div>
    </body>

{% endblock %}